<a href="https://colab.research.google.com/github/choihyungwang/pdm09/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [42]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [43]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02 -0.021586  0.656034 -0.269170 -1.875002

In [44]:
df.head(2)

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168

In [45]:
df.tail(3)

                   A         B         C         D
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02 -0.021586  0.656034 -0.269170 -1.875002

In [46]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [47]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [49]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.382941  0.275155 -0.406199 -0.969287
std    1.148366  0.470183  1.404091  0.919435
min   -1.042986 -0.388502 -2.956182 -2.006002
25%    0.016502 -0.064449 -0.607201 -1.743154
50%    0.243000  0.385942 -0.235093 -0.937305
75%    0.397829  0.640611  0.521849 -0.407876
max    2.464192  0.756629  0.946245  0.308061

In [50]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.382941  1.148366 -1.042986  0.016502  0.243000  0.397829  2.464192
B    6.0  0.275155  0.470183 -0.388502 -0.064449  0.385942  0.640611  0.756629
C    6.0 -0.406199  1.404091 -2.956182 -0.607201 -0.235093  0.521849  0.946245
D    6.0 -0.969287  0.919435 -2.006002 -1.743154 -0.937305 -0.407876  0.308061

In [51]:
df

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02 -0.021586  0.656034 -0.269170 -1.875002

In [52]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    0.130763    0.355237    0.412026   -1.042986    2.464192   -0.021586
B    0.756629   -0.388502    0.594340   -0.145113    0.177543    0.656034
C   -0.719877   -2.956182   -0.201016    0.946245    0.762804   -0.269170
D   -1.347610   -0.368168   -2.006002   -0.527000    0.308061   -1.875002

In [53]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [54]:
df

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02 -0.021586  0.656034 -0.269170 -1.875002

In [55]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

(                   A         B         C         D
 2021-09-27  0.130763  0.756629 -0.719877 -1.347610
 2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
 2021-09-29  0.412026  0.594340 -0.201016 -2.006002
 2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
 2021-10-01  2.464192  0.177543  0.762804  0.308061
 2021-10-02 -0.021586  0.656034 -0.269170 -1.875002,
                    A         B         C         D
 2021-10-02 -0.021586  0.656034 -0.269170 -1.875002
 2021-10-01  2.464192  0.177543  0.762804  0.308061
 2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
 2021-09-29  0.412026  0.594340 -0.201016 -2.006002
 2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
 2021-09-27  0.130763  0.756629 -0.719877 -1.347610)

In [56]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27  0.130763  0.756629 -0.719877 -1.347610
 2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
 2021-09-29  0.412026  0.594340 -0.201016 -2.006002
 2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
 2021-10-01  2.464192  0.177543  0.762804  0.308061
 2021-10-02 -0.021586  0.656034 -0.269170 -1.875002,
                    D         C         B         A
 2021-09-27 -1.347610 -0.719877  0.756629  0.130763
 2021-09-28 -0.368168 -2.956182 -0.388502  0.355237
 2021-09-29 -2.006002 -0.201016  0.594340  0.412026
 2021-09-30 -0.527000  0.946245 -0.145113 -1.042986
 2021-10-01  0.308061  0.762804  0.177543  2.464192
 2021-10-02 -1.875002 -0.269170  0.656034 -0.021586)

#### Sort by value
- sort_values(by='column')

In [57]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27  0.130763  0.756629 -0.719877 -1.347610
 2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
 2021-09-29  0.412026  0.594340 -0.201016 -2.006002
 2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
 2021-10-01  2.464192  0.177543  0.762804  0.308061
 2021-10-02 -0.021586  0.656034 -0.269170 -1.875002,
                    A         B         C         D
 2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
 2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
 2021-10-01  2.464192  0.177543  0.762804  0.308061
 2021-09-29  0.412026  0.594340 -0.201016 -2.006002
 2021-10-02 -0.021586  0.656034 -0.269170 -1.875002
 2021-09-27  0.130763  0.756629 -0.719877 -1.347610)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [58]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    0.130763
2021-09-28    0.355237
2021-09-29    0.412026
2021-09-30   -1.042986
2021-10-01    2.464192
2021-10-02   -0.021586
Freq: D, Name: A, dtype: float64

In [59]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002

In [60]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061

#### Selecting data by label [중요!!]

> **loc, iloc**

In [61]:
df

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02 -0.021586  0.656034 -0.269170 -1.875002

In [62]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [63]:
df.loc[dates[0]]   # loc()

A    0.130763
B    0.756629
C   -0.719877
D   -1.347610
Name: 2021-09-27 00:00:00, dtype: float64

In [64]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  0.130763  0.756629
2021-09-28  0.355237 -0.388502
2021-09-29  0.412026  0.594340
2021-09-30 -1.042986 -0.145113
2021-10-01  2.464192  0.177543
2021-10-02 -0.021586  0.656034

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [71]:
# df.loc[0:2,['C','D']]
# df.loc['20200928':'20200930',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27 -0.719877 -1.347610
2021-09-28 -2.956182 -0.368168

#### Selecting data by position (iloc())
- index 사용

In [66]:
df

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02 -0.021586  0.656034 -0.269170 -1.875002

In [67]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -1.042986
B   -0.145113
C    0.946245
D   -0.527000
Name: 2021-09-30 00:00:00, dtype: float64

In [70]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27 -0.719877 -1.347610
2021-09-28 -2.956182 -0.368168

In [69]:
# Select one item
df.iloc[1,1]

-0.3885019277152996

In [74]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002

#### Selecting data by Boolean indexing

In [75]:
df

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-09-30 -1.042986 -0.145113  0.946245 -0.527000
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02 -0.021586  0.656034 -0.269170 -1.875002

In [77]:
df.A > 0

2021-09-27     True
2021-09-28     True
2021-09-29     True
2021-09-30    False
2021-10-01     True
2021-10-02    False
Freq: D, Name: A, dtype: bool

In [76]:
df[df.A > 0]

                   A         B         C         D
2021-09-27  0.130763  0.756629 -0.719877 -1.347610
2021-09-28  0.355237 -0.388502 -2.956182 -0.368168
2021-09-29  0.412026  0.594340 -0.201016 -2.006002
2021-10-01  2.464192  0.177543  0.762804  0.308061

In [79]:
df > 0

                A      B      C      D
2021-09-27   True   True  False  False
2021-09-28   True  False  False  False
2021-09-29   True   True  False  False
2021-09-30  False  False   True  False
2021-10-01   True   True   True   True
2021-10-02  False   True  False  False

In [78]:
df[df > 0]

                   A         B         C         D
2021-09-27  0.130763  0.756629       NaN       NaN
2021-09-28  0.355237       NaN       NaN       NaN
2021-09-29  0.412026  0.594340       NaN       NaN
2021-09-30       NaN       NaN  0.946245       NaN
2021-10-01  2.464192  0.177543  0.762804  0.308061
2021-10-02       NaN  0.656034       NaN       NaN